.content
    .content__item
        .message
            .message__gear
                .message__gearitem
                    img(src="img/message/Vector.svg", alt="")
            .message__letter
                .message__letteritem
                    img(src="img/message/Vector (1).svg", alt="")
            .message__question
                img(src="img/message/Vector (2).svg", alt="")
            .message__time
                img(src="img/message/Vector (3).svg", alt="")
            .message__check
                img(src="img/message/Vector (4).svg", alt="")
            .message__phone
                img(src="img/message/Vector (5).svg", alt="")
            .message__point
                img(src="img/message/Vector (6).svg", alt="")
            .message__board
                .message__boarditem
                    img(src="img/message/Vector (7).svg", alt="")
            .message__wet
                img(src="img/message/Vector (8).svg", alt="")
        .page__content
            .page__content-text Профиль подопечного
            .page__content-text-ikon
                img(src="img/page__content-text-ikon.png", alt="")
            .page__content-item
                .page__content-item-ikon
                    img(src="img/П.svg", alt="")
                .page__content-item-text    
                    .page__content-item-text Добро пожаловать,
                    .page__content-title-text Пользователь Пользователевич
    .info
        .main
            .main__text Главная
            .main__title Мои данные
            .information
                .information__img
                    img(src="img/man.svg", alt="")
                .information__text Персональная информация
            .main__name
                .main__fullname 
                    .main__name-title ФИО
                    .main__name-subtitle Иванов Иван Иванович
                .main__date
                    .main__date-title Дата рождения
                    .main__date-subtitle 23.05.1974г.
                .main__floor
                    .main__floor-title Пол
                    .main__floor-subtitle Мужской
                .main__documents
                    .main__documents-title Тип документа
                    .main__documents-subtitle Паспорт
            .main__servicese
                .main__servise-title Мои услуги
                .main__servise-subtitle 
                    .main__servise-subtitle-img
                        img(src="img/Р.svg", alt="")
                    .main__servise-subtitle-data 21.07.2019
                    .main__servise-subtitle-text
                        .main__servise-subtitle-text1 Рефрактометрия (поликлинический уровень)
                        .main__servise-subtitle-text2 Услуга оказана
                        .main__servicese-line 
                            .main__servicese-line-img 
                                img(src="img/line.png", alt="")
                    .main__servise-subtitle-common
                        .main__servise-subtitle-cost Стоимость:
                        .main__servise-subtitle-price 64,34 ₽
                        .main__servise-subtitle-medical Медицинская организация:
                        .main__servise-subtitle-city ГП N 64

            .main__servicese
                
                .main__servise-subtitle 
                    .main__servise-subtitle-img2
                        img(src="img/П.svg", alt="")
                    .main__servise-subtitle-data 21.07.2019
                    .main__servise-subtitle-text
                        .main__servise-subtitle-text1 Рефрактометрия (поликлинический уровень)
                        .main__servise-subtitle-text2 Услуга оказана
                        .main__servicese-line 
                            .main__servicese-line-img 
                                img(src="img/line.png", alt="")
                    .main__servise-subtitle-common
                        .main__servise-subtitle-cost Стоимость:
                        .main__servise-subtitle-price 64,34 ₽
                        .main__servise-subtitle-medical Медицинская организация:
                        .main__servise-subtitle-city ГП N 64
            
            .main__servicese
                
                .main__servise-subtitle 
                    .main__servise-subtitle-img3
                        img(src="img/О.svg", alt="")
                    .main__servise-subtitle-data 21.07.2019
                    .main__servise-subtitle-text
                        .main__servise-subtitle-text1 Рефрактометрия (поликлинический уровень)
                        .main__servise-subtitle-text2item Услуга не оказана
                        .main__servicese-line 
                            .main__servicese-line-img 
                                img(src="img/line.png", alt="")
                    .main__servise-subtitle-common
                        .main__servise-subtitle-cost Стоимость:
                        .main__servise-subtitle-price 64,34 ₽
                        .main__servise-subtitle-medical Медицинская организация:
                        .main__servise-subtitle-city ГП N 64
        .medical
            .medical__info
                .medical__title
                    .medical__title-img 
                        img(src="img/dash.svg", alt="")
                    .medical__subtitle Диспансеризация
                    .medical__subtitle-img 
                        img(src="img/cross.svg", alt="")
                .medical__subtitle-text 
                    p.text1 В соответствии с Приказом Министерства здравоохранения Российской Федерации от 26.10.2017 г. № 869н "Об утверждении порядка проведения диспансеризации определенных групп взрослого населения" Вам рекомендуется пройти диспансеризацию до 31 декабря текущего календарного года.
                    p.text2 Пожалуйста, заполните анкету, распечатайте и возьмите ее на прием к врачу.
                .button
                    button.fill Заполнить
            .biometeorological__info 
                .biometeorologica__title
                    .biometeorologica__title-img 
                        img(src="/img/dash__green.svg", alt="")
                    .biometeorologica__subtitle Биометеорологический прогноз
                    .biometeorologica__subtitle-img 
                        img(src="img/cross.svg", alt="")
                .biometeorological__subtitle-text 
                    p.text Прогноз уровня метеорологической опасности на 19.08.2019 г. для г.Москвы

