footer.footer
    .footer__text
        .footer__text-title © 2019 “Московский городской фонд обязательного медицинского страхования”
    .footer__title
        .footer__img
            .img__heart
                img(src="img/footer/heart.svg", alt="")
            .img__trapezoid
                img(src="img/footer/trapezoid.svg", alt="")
            .img__app
                img(src="img/footer/app.svg", alt="")
            .img__google
                    img(src="img/footer/google.svg", alt="")



