html
	head
		link(rel="stylesheet" href='css/style.min.css')
	body
		.wrapper
			include html/menu 
			include html/content


			//- include html/header
			//- include html/logo
			//- include html/menu
				

		
		include html/footer
		
		script(src='js/app.min.js')
		