.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-top: 88px;

.footer__text{
  //margin-top: 98px;
  margin-left: 324px;
}
.footer__text-title{
  font-family: "GothamPro400";
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
}
.footer__title{

}

.footer__img{
  display: flex;
  align-items: center;
  //margin-right: 94px;
}
.img__heart{
  //margin-left: 280px;
}
.img__trapezoid{
  margin-left: 27px;
}
.img__app{
  margin-left: 27px;
}
.img__google{
  margin-left: 20px;
}

